<div class="card">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt1 [value]="products" dataKey="id" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]"
        [loading]="loading" responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}"
        sortMode="multiple" [globalFilterFields]="['name']">

        <ng-template pTemplate="caption">

            <div class="flex">
                <p-iconField iconPosition="right" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" (input)="dt1.filterGlobal($any($event).target.value, 'contains')"
                        placeholder="Search keyword" />
                </p-iconField>
            </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
                <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
                <th pSortableColumn="description">Description <p-sortIcon field="description" /></th>
                <th pSortableColumn="price">Price <p-sortIcon field="price" /></th>
                <th pSortableColumn="createdDate">Created Date <p-sortIcon field="createdDate" /></th>
                <th pSortableColumn="imageUrl">Product Image <p-sortIcon field="imageUrl" /></th>

                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-columns="columns">
            <tr>
                <td>
                    <span class="p-column-title">ID</span>{{product.id}}
                </td>
                <td>
                    <span class="p-column-title">Name</span>{{product.name}}
                </td>
                <td>
                    <span class="p-column-title">Description</span>{{product.description}}
                </td>
                <td>
                    <span class="p-column-title">Price</span>{{product.price | currency:'AED '}}
                </td>
                <td>
                    <span class="p-column-title">Created Date</span>{{product.createdDate | date}}
                </td>
                <td>
                    <span class="p-column-title">Product Image</span>
                    <img [src]="product.imageUrl" alt="Product Image" style="max-width: 100px; height: auto;" />
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                        (click)="editProduct(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteProduct(product)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>
